torchao==0.10.0
safetensors
git+https://github.com/huggingface/diffusers.git@c943837899b16cbae2f619b8dd4f7bb6f07dd81a
#pip install git+https://github.com/huggingface/diffusers.git@refs/pull/13432/head
transformers==5.5.3
lycoris-lora==1.8.3
flatten_json
pyyaml
oyaml
tensorboard
einops
accelerate
toml
albumentations==1.4.15
albucore==0.0.16
pydantic
omegaconf
k-diffusion
prodigyopt
timm
open_clip_torch
python-dotenv
bitsandbytes
lpips
optimum-quanto==0.2.4
sentencepiece
huggingface_hub==1.10.1
python-slugify
opencv-python
setuptools==69.5.1
av==16.0.1
onnx
onnxruntime-gpu
insightface
